ion-content.background{
    --background: url(../../../assets/img/fondo.png) 0 0/100% 100% no-repeat;
}

.title-Text{

    position: relative;
    top: 23%;
    color: white;
    left: 50%;
    width: 200px;

}
h1{
    font-size: 38px;
}