<app-nav-header></app-nav-header>

<app-map></app-map>

<audio id="alert-audio" controls [hidden]='true' preload="auto" autoplay="true" [muted]="muted">
    <source src="assets/audio/alert.wav" type="audio/wav">
</audio>

<div class="container-fluid">
    <div class="row mt-3 p-1">
        <div class="col-lg-6 col-md-12 col-sm-12 col-12 status-box p-2">
            <h4>Registros</h4>
            <ul *ngIf="records.length != 0; else showMessage">
                <li *ngFor="let record of records">
                    <p class="h6" [class]="setClassRecord(record)">
                        {{ record.hour }}  {{ record.message }}
                    </p>
                </li>
            </ul>
            <ng-template #showMessage>
                <h5 class="text-info">No hay datos para mostrar :(</h5>                
            </ng-template>
        </div>

        <div class="col-lg-6">
            <div class="row justify-content-center">
                <div class="col-lg-10 col-md-12 mt-md-3 mt-sm-3 mt-3 bg-image">
                </div>
            </div>
        </div>

    </div>
</div>


