<app-header [isRegisterPage]="true" title="Recuperar contraseña"></app-header>


<ion-content class="ion-padding">

  <form [formGroup]="formularioResetPassword">

    <ion-list>

      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input 
                  type="text" 
                  placeholder="mario@gmail.com" 
                  class="ion-margin-top"
                  formControlName="email"
        ></ion-input>

        <div *ngIf="formularioResetPassword.get('email').errors?.required 
                  && formularioResetPassword.get('email').touched">
          <ion-text color="danger">
            <span>Por favor ingrese su correo electrónico.</span>
          </ion-text>
        </div>

      </ion-item>
  
    </ion-list>

    <div class="ion-justify-content-center centrado">
      <ion-button (click)="onReset()" type="submit" [disabled]="!formularioResetPassword.valid">
        Enviar solicitud
      </ion-button>
    </div>

  </form>

<ion-content>
