<div id="status-modal" class="modal">
  <div class="modal-content">
    <ion-grid fixed>
      <ion-row class="ion-justify-content-evenly">

        <ion-col size="12" class="ion-margin-bottom">
          <h2 style="text-align: center;">¿Te encuentras bien?</h2>
        </ion-col>
        
       <ion-col size="4">
         <ion-button shape="round" color="success" (click)="userStatus(true)">
           Si
         </ion-button>
       </ion-col>

       <ion-col size="4">
         <ion-button shape="round" color="danger" (click)="userStatus(false)">
           No
         </ion-button>
       </ion-col>

       <ion-col size="12" style="text-align: center;">
         <p>{{ remainingTime }}</p>
       </ion-col>

      </ion-row>
    </ion-grid>

  </div>
</div>